<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <queries>
        <package android:name="com.humanware.keysoft"/>
    </queries>
    <application
        android:allowBackup="true"
        android:supportsRtl="true"
        android:label="Monarch BRLAPI Server">
        <activity android:exported="true" android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:exported="false" android:name=".TestActivity"/>
        <provider android:authorities="dev.emassey0135.monarchBrlapiServer.XmlResource" android:exported="true" android:grantUriPermissions="true" android:name="dev.emassey0135.monarchBrlapiServer.XmlResource"/>
    </application>
</manifest>